<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="APSCC2_3P34.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="APSCC2_3P34.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections> 
  <connectionStrings>
    <add name="APSCC2_3P34.Properties.Settings.DBImagensConnectionString"
      connectionString="data source=C:\Users\hegemn0\Documents\DBImagens"
      providerName="System.Data.SQLite.EF6" />
  </connectionStrings>
  <userSettings>
    <APSCC2_3P34.Properties.Settings>
      <setting name="LocalProjeto" serializeAs="String">
        <value />
      </setting>
      <setting name="DiretorioProjeto" serializeAs="String">
        <value />
      </setting>
      <setting name="DiretorioBancoDeDados" serializeAs="String">
        <value />
      </setting>
    </APSCC2_3P34.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <APSCC2_3P34.Properties.Settings>
      <setting name="ListaNomesBancosDeDados" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>BDOriginal.sqlite3</string>
            <string>BDBubleSort.sqlite3</string>
            <string>BDInsertionSort.sqlite3</string>
            <string>BDHeapSort.sqlite3</string>
          </ArrayOfString>
        </value>
      </setting>
    </APSCC2_3P34.Properties.Settings>
  </applicationSettings>
</configuration>